.header-wrapper {
  width: 100%;
  height: 120px;
  border: 1 solid black;
}

.header-login {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  gap: 20px;
  background-color: rgb(226, 226, 226);
}

.header-login Link {
  color: black;
}

.header-search {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(219, 219, 219);
}

.header-search .item {
  display: flex;
  gap: 20px;
}

.footer-wrapper {
  width: 100%;
  height: 400px;
  background-color: rgb(241, 241, 251);
}

.users-wrapper {
  display: flex;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.users-wrapper article {
  width: 40%;
  height: 400px;
  padding: 20px;
  border: 1px black solid;
  border-radius: 20px;
  overflow: scroll;
}

.users-wrapper article::-webkit-scrollbar {
  display: none;
}

.notification-wrap {
  width: 500px;
  height: 300px;
  border: 1px black solid;
  border-radius: 20;
  background-color: white;
  position: fixed;
  margin: 40px;
  z-index: 20;
}
