.rests-wrapper {
  display: flex;
  width: 500px;
  height: 100%;
  gap: 20;
  padding: 10px;
  border-radius: 20px;
}

.rests-wrapper article {
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0);
}

.rests-wrapper article img {
  width: 100%;
  height: 100%;
  border-radius: 20;
}

.rests-wrapper article p {
  font-size: 15px;
}

.rest-wrapper {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.rest-wrapper section {
  width: 38%;
  height: auto;
}

.rst-detail-header {
  display: flex;
  gap: 20px;
  height: 400px;
  padding: 30px;
  justify-content: space-evenly;
  border: 1px black solid;
}

.rst-detail-header .item {
  width: 40%;
  height: 80%;
  margin: 0 auto;
  border: 1px black solid;
  overflow: hidden;
}

.rst-detail-header .item Button {
  width: 90%;
  height: 25%;
  margin: 10px;
  color: black;
}

.rst-nav-wrapper {
  display: flex;
  justify-content: space-around;
  border: 1px black solid;
}

.rst-nav-wrapper ul {
  width: 200px;
  text-align: center;
  padding-right: 15px;
  border: 1px black solid;
}
